* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
    background: #000000;
    height: 100vh;
  }
.header {
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-bottom: 60px;
    padding: 60px;
    text-align: center;
  }
.eye {
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    transition: 0.1s;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 150px);
    overflow: hidden;
  }    
.pupil {
    width: 110px;
    height: 110px;
    background: #000000;
    border-radius: 50%;
    position: relative;
    transform: translate(50%, 50%);
  }
    
*::after {
        content: "";
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: 25px;
        right: 25px;
  }